* {
  margin: 0;
}


@font-face {
  font-family: "SUIT-Heavy";
  src: url("../../public/static/fonts/SUIT-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "SUIT-ExtraBold";
  src: url("../../public/static/fonts/SUIT-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "SUIT-Bold";
  src: url("../../public/static/fonts/SUIT-Bold.otf") format("opentype");
}

@font-face {
  font-family: "SUIT-SemiBold";
  src: url("../../public/static/fonts/SUIT-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "SUIT-Medium";
  src: url("../../public/static/fonts/SUIT-Medium.otf") format("opentype");
}

@font-face {
  font-family: "SUIT-Regular";
  src: url("../../public/static/fonts/SUIT-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SUIT-Light";
  src: url("../../public/static/fonts/SUIT-Light.otf") format("opentype");
}
@font-face {
  font-family: "SUIT-ExtraLight";
  src: url("../../public/static/fonts/SUIT-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: "SUIT-Thin";
  src: url("../../public/static/fonts/SUIT-Thin.otf") format("opentype");
}
